---
import "@/styles/global.css";
const currentPath = Astro.url.pathname;

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script is:inline>
      /**
       * Prevents the FART problem (https://css-tricks.com/flash-of-inaccurate-color-theme-fart/)
       */
      function preventFart() {
        const theme = localStorage.getItem("theme");

        const element = document.documentElement;

        if (theme === null) {
          element.setAttribute("data-theme", "cupcake");
        } else {
          element.setAttribute("data-theme", theme);
        }
      }

      preventFart();
    </script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-base-200">
    <!-- Navigation Bar -->
    <div
      class="navbar w-full bg-primary text-primary-content flex justify-between"
    >
      <div class="flex-1 gap-8">
        <a
          href="/"
          class={`btn btn-ghost text-xl ${currentPath === "/" ? "btn-active" : ""}`}
          >gcp-iam-permissions-journal</a
        >
        <a
          href="/roles"
          class={`btn btn-ghost ${currentPath === "/roles" ? "btn-active" : ""}`}
          >Roles</a
        >
        <a
          href="/permissions"
          class={`btn btn-ghost ${currentPath === "/permissions" ? "btn-active" : ""}`}
          >Permissions</a
        >
      </div>
    </div>

    <!-- Dynamic Content -->
    <main class="container w-full mx-auto px-4 py-8 flex-1">
      <slot />
    </main>

    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
      <p>© 2025 GCP-IAM-permissions-journal. All rights reserved.</p>
    </footer>
  </body>
</html>
